


body {
		
		background-color: black;
		
	
	
	
}



ul {
	
	list-style-type: none;
	border-color: white;
	border: 50px;
	
	
	
	
	
}





.Itay1  {
	
		color: white;
	
	
	
	
}